---
layout: default
---

<style>
  .grid_item {
    display: inline-block;
    width: 100%;
  }
</style>

<div class="grid">
  <div align="center" class="grid_item">
    <a href="/skills">
      <button class="btn draw-border">skills</button>
    </a>
  </div>
  <div align="center" class="grid_item" >
    <a href="/education">
      <button class="btn draw-border">education</button>
    </a>
  </div>
  <div align="center" class="grid_item" >
    <a href="/experience">
      <button class="btn draw-border">experience</button>
    </a>
  </div>
  <div align="center" class="grid_item" >
    <a href="mailto:adityanair@berkeley.edu">
      <button class="btn draw-border">Get in Touch!</button>
    </a>
  </div>
</div>
